.total-text{
    padding: 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
}

.character-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.character-item {
    width: 230px;
    height: 355px;
    border-radius: 20px;
    box-shadow: 10px 12px 12px -3px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 10px 12px 12px -3px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 10px 12px 12px -3px rgba(0, 0, 0, 0.76);
    transition: transform 0.5s ease-in-out;
}

.character-item:hover {
    transform: translateY(-10px);
}

.character-image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: contain;
}

.character-link {
    text-align: center;
    text-decoration: none;
    color: #333;
}

.character-link:hover {
    color: var(--brand-color);
}

.character-name{
    margin: 0;
}
