:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 28px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --brand-color: #054c73;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  caret-color: transparent;
  letter-spacing: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1600px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

input,
select {
  caret-color: var(---dark-color);
}

.section-header {
  margin: 0;
  padding: 0;
  color: var(---dark-color);
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 20px;
}

.button {
  padding: 15px 60px;
  border-radius: 50px;
  background-color: var(--brand-color);
  border: 1px solid var(--brand-color);
  color: #fff;
  text-decoration: none;
  transition: background-color 0.5s ease-in-out;
}

.button:hover {
  background-color: #fff;
  color: var(--brand-color);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}